<footer>
	<a href="https://github.com/shgysk8zer0/WYSIWYG-Editor" title="Fork on GitHub" class="icon">
		<svg width="40" height="40"><use xlink:href="images/combined.svg#mark-github"/></svg>
	</a>
	<a href="https://github.com/shgysk8zer0/WYSIWYG-Editor/issues/new" target="_blank" title="Report Issue" class="icon">
		<svg width="40" height="40"><use xlink:href="images/combined.svg#issue-opened"></svg>
	</a>
	<a href="mailto:shgysk8zer0@gmail.com" title="Email Developer" class="icon">
		<svg width="40" height="40"><use xlink:href="images/combined.svg#mail"></svg>
	</a>
</footer>
