<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<base href="../">
	</head>
	<body>
<!-- <menu type="toolbar">
	<li>
		<menu label="File">
			<button type="button" onclick="fnew()">New...</button>
			<button type="button" onclick="fopen()">Open...</button>
			<button type="button" onclick="fsave()">Save</button>
			<button type="button" onclick="fsaveas()">Save as...</button>
		</menu>
	</li>
	<li>
		<menu label="Edit">
			<button type="button" onclick="ecopy()">Copy</button>
			<button type="button" onclick="ecut()">Cut</button>
			<button type="button" onclick="epaste()">Paste</button>
		</menu>
	</li>
	<li>
		<menu label="Help">
			<li><a href="help.html">Help</a></li>
			<li><a href="about.html">About</a></li>
		</menu>
	</li>
</menu> -->
		<menu type="toolbar" role="menubar" class="flex row wrap sticky" contenteditable="false">
			<menu label="Headings">
				<li><button type="button" data-editor-command="heading" data-editor-value="H1">H1</button></li>
				<li><button type="button" data-editor-command="heading" data-editor-value="H2">H2</button></li>
				<li><button type="button" data-editor-command="heading" data-editor-value="H3">H3</button></li>
				<li><button type="button" data-editor-command="heading" data-editor-value="H4">H4</button></li>
				<li><button type="button" data-editor-command="heading" data-editor-value="H5">H5</button></li>
				<li><button type="button" data-editor-command="heading" data-editor-value="H6">H6</button></li>
			</menu>
			<menu label="Background Color">
				<li><button type="button" title="Red" data-editor-command="backcolor" data-editor-value="red" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="red"/></svg></button></li>
				<li><button type="button" title="Green" data-editor-command="backcolor" data-editor-value="green" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="green"/></svg></button></li>
				<li><button type="button" title="Blue" data-editor-command="backcolor" data-editor-value="blue" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="blue"/></svg></button></li>
				<li><button type="button" title="Cyan" data-editor-command="backcolor" data-editor-value="cyan" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="cyan"/></svg></button></li>
				<li><button type="button" title="Magenta" data-editor-command="backcolor" data-editor-value="magenta" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="magenta"/></svg></button></li>
				<li><button type="button" title="Yellow" data-editor-command="backcolor" data-editor-value="yellow" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="yellow"/></svg></button></li>
				<li><button type="button" title="Orange" data-editor-command="backcolor" data-editor-value="orange" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="orange"/></svg></button></li>
				<li><button type="button" title="Purple" data-editor-command="backcolor" data-editor-value="purple" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="purple"/></svg></button></li>
				<li><button type="button" title="Pink" data-editor-command="backcolor" data-editor-value="pink" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="pink"/></svg></button></li>
				<li><button type="button" title="Black" data-editor-command="backcolor" data-editor-value="black" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="black"/></svg></button></li>
				<li><button type="button" title="White" data-editor-command="backcolor" data-editor-value="white" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="white"/></svg></button></li>
				<li><button type="button" title="White Smoke" data-editor-command="backcolor" data-editor-value="whitesmoke" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="whitesmoke"/></svg></button></li>
				<li><button type="button" title="Azure" data-editor-command="backcolor" data-editor-value="azure" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="azure"/></svg></button></li>
				<li><button type="button" title="Gray" data-editor-command="backcolor" data-editor-value="gray" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="gray"/></svg></button></li>
				<li><button type="button" title="Dim Gray" data-editor-command="backcolor" data-editor-value="dimgray" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="dimgray"/></svg></button></li>
				<li><button type="button" title="Dark Gray" data-editor-command="backcolor" data-editor-value="darkgray" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="darkgray"/></svg></button></li>
				<li><button type="button" title="Light Gray" data-editor-command="backcolor" data-editor-value="lightgray" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="lightgray"/></svg></button></li>
				<li><button type="button" title="DarkSlateGray" data-editor-command="backcolor" data-editor-value="darkslategray" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="darkslategray"/></svg></button></li>
				<li><button type="button" title="Slate Gray" data-editor-command="backcolor" data-editor-value="slategray" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="slategray"/></svg></button></li>
				<li><button type="button" title="Ivory" data-editor-command="backcolor" data-editor-value="ivory" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="ivory"/></svg></button></li>
				<li><button type="button" title="Snow" data-editor-command="backcolor" data-editor-value="snow" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="snow"/></svg></button></li>
				<li><button type="button" title="Lavender" data-editor-command="backcolor" data-editor-value="lavender" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="lavender"/></svg></button></li>
				<li><button type="button" title="Aqua" data-editor-command="backcolor" data-editor-value="aqua" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="aqua"/></svg></button></li>
				<li><button type="button" title="Navy" data-editor-command="backcolor" data-editor-value="navy" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="navy"/></svg></button></li>
				<li><button type="button" title="Lime" data-editor-command="backcolor" data-editor-value="lime" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="lime"/></svg></button></li>
				<li><button type="button" title="Lime Green" data-editor-command="backcolor" data-editor-value="limegreen" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="limegreen"/></svg></button></li>
				<li><button type="button" title="Coral" data-editor-command="backcolor" data-editor-value="coral" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="coral"/></svg></button></li>
				<li><button type="button" title="Crimson" data-editor-command="backcolor" data-editor-value="crimson" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="crimson"/></svg></button></li>
				<li><button type="button" title="Maroon" data-editor-command="backcolor" data-editor-value="maroon" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="maroon"/></svg></button></li>
				<li><button type="button" title="Tomato" data-editor-command="backcolor" data-editor-value="tomato" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="tomato"/></svg></button></li>
				<li><button type="button" title="Fuchsia" data-editor-command="backcolor" data-editor-value="fuchsia" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="fuchsia"/></svg></button></li>
				<li><button type="button" title="Salmon" data-editor-command="backcolor" data-editor-value="salmon" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="salmon"/></svg></button></li>
				<li><button type="button" title="Gold" data-editor-command="backcolor" data-editor-value="gold" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="gold"/></svg></button></li>
				<li><button type="button" title="Green-Yellow" data-editor-command="backcolor" data-editor-value="greenyellow" data-style-with-css><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><rect width="1" height="1" fill="greenyellow"/></svg></button></li>
			</menu>
			<button type="button" title="New paragraph" data-editor-command="insertparagraph">
				<svg><use xlink:href="images/combined.svg#file-text"/></svg>
			</button>
			<button type="button" title="Toggle Bold" data-editor-command="bold">
				<b>B</b>
			</button>
			<button type="button" title="Toggle Italic" data-editor-command="italic">
				<i>I</i>
			</button>
			<button type="button" title="Toggle Underline" data-editor-command="underline">
				<u>U</u>
			</button>
			<button type="button" title="Toggle Strikethrough" data-editor-command="strikethrough">
				<strike>S</strike>
			</button>
			<button type="button" title="Subscript" data-editor-command="subscript">
				T<sub>x</sub>
			</button>
			<button type="button" title="Superscript" data-editor-command="superscript">
				T<sup>x</sup>
			</button>
			<button type="button" title="Blockquote" data-editor-command="formatblock" data-editor-value="BLOCKQUOTE">
				<svg><use xlink:href="images/combined.svg#quote"/></svg>
			</button>
			<span class="spacer"></span>
			<button type="button" title="Make Link" data-editor-command="createlink" data-prompt="Enter link location">
				<svg><use xlink:href="images/combined.svg#link"/></svg>
			</button>
			<button type="button" title="Insert Image" data-editor-command="insertimage" data-prompt="Enter image location">
				<svg><use xlink:href="images/combined.svg#file-media"/></svg>
			</button>
			<button type="button" title="Make Ordered List" data-editor-command="insertorderedlist">
				<svg><use xlink:href="images/combined.svg#list-ordered"/></svg>
			</button>
			<button type="button" title="Make Unordered List" data-editor-command="insertunorderedlist">
				<svg><use xlink:href="images/combined.svg#list-unordered"/></svg>
			</button>
			<button type="button" title="Insert Code" data-editor-command="inserthtml" data-selection-to="code">
				<svg><use xlink:href="images/combined.svg#code"/></svg>
			</button>
			<span class="spacer"></span>
			<button type="button" title="Insert Horizontal Rule" data-editor-command="inserthorizontalrule">
				<svg><use xlink:href="images/combined.svg#horizontal-rule"/></svg>
			</button>
			<button type="button" title="Increase Indent" data-editor-command="indent">
				<svg><use xlink:href="images/combined.svg#move-right"/></svg>
			</button>
			<button type="button" title="Decrese Indent" data-editor-command="outdent">
				<svg><use xlink:href="images/combined.svg#move-left"/></svg>
			</button>
			<span class="spacer"></span>
			<button type="button" title="Remove Formatting" data-editor-command="removeformat">
				<svg><use xlink:href="images/combined.svg#circle-slash"/></svg>
			</button>
			<button type="button" title="Custom HTML" data-editor-command="inserthtml" data-prompt="Enter the HTML to insert.">
				<svg><use xlink:href="images/combined.svg#file-code"/></svg>
			</button>
			<span class="spacer"></span>
			<a role="button" title="Download HTML" href="" download="index.html" data-download-html="[contenteditable=true]" hidden>
				<svg><use xlink:href="images/combined.svg#cloud-download"/></svg>
			</a>
			<button type="button" title="Toggle Full-Screen" data-fullscreen="main">
				<svg><use xlink:href="images/combined.svg#screen-full"/></svg>
			</button>
		</menu>
	</body>
</html>
