<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<base href="../">
	</head>
	<body>
		<menu type="toolbar" role="menubar" class="flex row wrap sticky" contenteditable="false">
			<li role="button" title="New paragraph" data-editor-command="insertparagraph">
				<svg><use xlink:href="images/combined.svg#file-text"/></svg>
			</li>
			<li role="button" title="Toggle Bold" data-editor-command="bold">
				<b>B</b>
			</li>
			<li role="button" title="Toggle Italic" data-editor-command="italic">
				<i>I</i>
			</li>
			<li role="button" title="Toggle Underline" data-editor-command="underline">
				<u>U</u>
			</li>
			<li role="button" title="Toggle Strikethrough" data-editor-command="strikethrough">
				<strike>S</strike>
			</li>
			<li role="button" title="Subscript" data-editor-command="subscript">
				T<sub>x</sub>
			</li>
			<li role="button" title="Superscript" data-editor-command="superscript">
				T<sup>x</sup>
			</li>
			<li role="button" title="Blockquote" data-editor-command="formatblock" data-editor-value="BLOCKQUOTE">
				<svg><use xlink:href="images/combined.svg#quote"/></svg>
			</li>
			<span class="spacer"></span>
			<li role="button" title="Make Link" data-editor-command="createlink" data-prompt="Enter link location">
				<svg><use xlink:href="images/combined.svg#link"/></svg>
			</li>
			<li role="button" title="Insert Image" data-editor-command="insertimage" data-prompt="Enter image location">
				<svg><use xlink:href="images/combined.svg#file-media"/></svg>
			</li>
			<li role="button" title="Make Ordered List" data-editor-command="insertorderedlist">
				<svg><use xlink:href="images/combined.svg#list-ordered"/></svg>
			</li>
			<li role="button" title="Make Unordered List" data-editor-command="insertunorderedlist">
				<svg><use xlink:href="images/combined.svg#list-unordered"/></svg>
			</li>
			<li role="button" title="Insert Code" data-editor-command="inserthtml" data-selection-to="code">
				<svg><use xlink:href="images/combined.svg#code"/></svg>
			</li>
			<span class="spacer"></span>
			<li role="button" title="Insert Horizontal Rule" data-editor-command="inserthorizontalrule">
				<svg><use xlink:href="images/combined.svg#horizontal-rule"/></svg>
			</li>
			<li role="button" title="Increase Indent" data-editor-command="indent">
				<svg><use xlink:href="images/combined.svg#move-right"/></svg>
			</li>
			<li role="button" title="Decrese Indent" data-editor-command="outdent">
				<svg><use xlink:href="images/combined.svg#move-left"/></svg>
			</li>
			<span class="spacer"></span>
			<li role="button" title="Remove Formatting" data-editor-command="removeformat">
				<svg><use xlink:href="images/combined.svg#circle-slash"/></svg>
			</li>
			<li role="button" title="Custom HTML" data-editor-command="inserthtml" data-prompt="Enter the HTML to insert.">
				<svg><use xlink:href="images/combined.svg#file-code"/></svg>
			</li>
			<span class="spacer"></span>
			<a role="button" title="Download HTML" href="" download="index.html" data-download-html="[contenteditable=true]" hidden>
				<svg><use xlink:href="images/combined.svg#cloud-download"/></svg>
			</a>
			<li role="button" title="Toggle Full-Screen" data-fullscreen="main">
				<svg><use xlink:href="images/combined.svg#screen-full"/></svg>
			</li>
		</menu>
	</body>
</html>
