footer {
	flex: 0 0 100%;
	align-self: flex-end;
	background: var(--alt-color);
	border-top: 0.3em solid var(--border-color);
	align-items: stretch;
	justify-content: space-around;
	padding: 0.7rem 0;
}
