footer {
	flex: 0 0 100%;
	align-self: flex-end;
	background: var(--header-bg);
	border-top: 0.3em solid var(--border-color);
	align-items: stretch;
	justify-content: space-around;
	padding: 0.7rem 0;
	color: #E1E3A7;
	width: 100vw;
}
footer button, footer [role="button"], footer button:active, footer [role="button"]:active {
	background: initial;
	border: initial;
}
footer a {
	color: inherit;
}
footer svg {
	fill: currentcolor;
}
