@charset "UTF-8";
@import url("../core-css/viewport.css");
@import url("responsive.css");
@import url("../normalize/normalize.css");
@import url("../core-css/details.css");
@import url("../core-css/dialog.css");
@import url("../core-css/progress.css");
@import url("../core-css/class_rules.css");
@import url("../core-css/data-filter.css");
@import url("../core-css/misc.css");
@import url("../core-css/links.css");
@import url("../core-css/octicons.css");
@import url("header.css");
@import url("../core-css/toolbar.css");
@import url("main.css");
@import url("footer.css");
@import url("../core-css/animations.css");
@import url("../core-css/fonts.css");

:root {
	/*================= Set color vars here =================*/
	--default-color: rgb(252, 252, 252);
	--alt-color: rgb(41, 41, 41);
	--primary-color: #18ED39;
	--highlight-color: #2EA900;
	--link-color: #5481BE;
	--visited-color: #07662F;
	--border-color: #FF6300;
	/*========== Set background images, etc here ==========*/
	--main-bg: #eee;
	--glass-grad: linear-gradient(to top left, rgba(80, 80, 80, 0.7), rgba(140, 140, 140, 0.9), rgba(40, 40, 40, 0.7));
	--shadow: rgba(20, 20, 20, 0.9);
	--tint-glass: linear-gradient(rgba(40, 40, 40, 0.8), rgba(80, 80, 80, 0.7));
	--header-bg: #292929;
	--progress-grad: linear-gradient(var(--highlight-color), var(--primary-color), var(--highlight-color));
	/*==================== Set fonts here ====================*/
	--header-font: 'PressStart';
	--article-font: 'Ubuntu';
	--article-header-font: var(--header-font);
	--icon-font: 'Web Symbols';
	/*================ Set various icons here ================*/
	--link-icon: '  K';
	--tag-icon: '  , ';
	--new-tab-icon: '  D';
	--download-icon: '  A';
	--next-icon: ')';
	--prev-icon: '(';
	--unchecked-icon: '  \\';
	--checked-icon: '  .';
	--dropdown-open-icon: '[ ';
	--dropdown-closed-icon: '] ';
	--close-icon: '\'';
	--search-icon: 'L';
	--attachmnent-icon: 'A';
	/*================== Set cursors here ==================*/
	--default-cursor: url('../../images/cursors/Arch-black.svgz'), auto;
	--pointer: url('../../images/cursors/3D_hand_cursor.svgz'), pointer;
	/*============= Various sizes and positions =============*/
	--main-width: 90%;
	--article-width: 67%;
	--sidebar-width: calc(97% - var(--article-width));
	--article-position: 2;
	--sidebar-position: 1;
	/*This is the max z-index value. Others can use calc(var(--z-max) - n)*/
	--z-max: 100;
}
