main {
	flex: 0 1 var(--main-width);
	background: var(--main-bg);
	padding: 1rem 3rem;
	box-shadow: 0.2rem 0.2rem 0 gray, 0.4rem 0.4rem 0 black, -0.4rem 0.4rem 1rem black;
	margin: 2rem auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 69vh;
	overflow-y: auto;
}
main > [contenteditable="true"] {
	flex: 0 0 100%;
	overflow: auto;
	width: 80%;
	padding: 0 1em;
	border: 2px outset currentcolor;
	box-shadow: -0.2em 0.2em 0.5em black;
	resize: horizontal;
}
main:-moz-full-screen {
	height: 100vh;
	width: 100vw;
	background: #888
}
main:-webkit-full-screen {
	height: 100vh;
	width: 100vw;
	background: #888
}
main:-ms-full-screen {
	height: 100vh;
	width: 100vw;
	background: #888
}
main:fullscreen {
	height: 100vh;
	width: 100vw;
	background: #888
}
main:-moz-full-screen > [contenteditable="true"] {
	padding: 2rem;
	background: var(--main-bg);
	box-shadow: -1em 1em 1em #333;
	border: 0.2em inset dimgray;
}
main:-webkit-full-screen > [contenteditable="true"] {
	padding: 2rem;
	background: var(--main-bg);
	box-shadow: -1em 1em 1em #333;
	border: 0.2em inset dimgray;
}
main:-ms-full-screen > [contenteditable="true"] {
	padding: 2rem;
	background: var(--main-bg);
	box-shadow: -1em 1em 1em #333;
	border: 0.2em inset dimgray;
}
main:fullscreen > [contenteditable="true"] {
	padding: 2rem;
	background: var(--main-bg);
	box-shadow: -1em 1em 1em #333;
	border: 0.2em inset dimgray;
}
