main {
	flex: 0 1 var(--main-width);
	background: var(--main-bg);
	padding: 1rem 3rem;
	box-shadow: 0.2rem 0.2rem 0 gray, 0.4rem 0.4rem 0 black, -0.4rem 0.4rem 1rem black;
	margin: 2rem auto;
	display: flex;
	justify-content: center;
	overflow-y: auto;
}
main > [contenteditable] {
	flex: 0 0 100%;
	overflow: auto;
}
main:-moz-full-screen {
	background: #888
}
main:-webkit-full-screen {
	background: #888
}
main:-ms-full-screen {
	background: #888
}
main:fullscreen {
	background: #888
}
main:-moz-full-screen > [contenteditable] {
	flex: 0 0 75%;
	padding: 2rem;
	background: var(--main-bg);
	box-shadow: -1em 1em 1em #333;
	border: 0.2em inset dimgray;
}
main:-webkit-full-screen > [contenteditable] {
	flex: 0 0 75%;
	padding: 2rem;
	background: var(--main-bg);
	box-shadow: -1em 1em 1em #333;
	border: 0.2em inset dimgray;
}
main:-ms-full-screen > [contenteditable] {
	flex: 0 0 75%;
	padding: 2rem;
	background: var(--main-bg);
	box-shadow: -1em 1em 1em #333;
	border: 0.2em inset dimgray;
}
main:fullscreen > [contenteditable] {
	flex: 0 0 75%;
	padding: 2rem;
	background: var(--main-bg);
	box-shadow: -1em 1em 1em #333;
	border: 0.2em inset dimgray;
}
