menu[type="toolbar"] {
	height: 1.7rem;
	flex: 0 0 100;
	background: #ddd;
	margin: 0;
	display: flex;
}
menu[type="toolbar"] button {
	background: linear-gradient(gainsboro, whitesmoke);
	border: 0.15em outset #333;
	color: #333;
	margin: 0 0;
	padding: 0.3em;
}
menu[type="toolbar"] svg {
	fill: currentcolor;
}
menu[type="toolbar"] svg:not([width]) {
	max-width: 100%;
	max-height: 100%;
}
